.sidebar{
  width: 150px;
  height: 739px;
  background-color: #377060;
  max-height: 739px;
}

.sidebar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.sidebar-item {
  width: auto;
  text-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.sidebar-header {
  margin-left: 20px;
  cursor: pointer;
}

.sidebar-item-active{
  background-color: rgb(25, 74, 60);
  cursor: pointer;
}

.sidebar-item:hover{
  background-color: rgb(25, 74, 60);
  cursor: pointer;
}

.router-link {
  color: #fff !important;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
    .sidebar{
      color: #fff;
    }
  }
   
  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    .gfg-div {
      width: 400px;
      height: 400px;
      background-color: orange;
      color: black;
    }
  }
   
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
    .sidebar{
      width: auto;
    }
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {
    .sidebar{
      width: auto;
    }
  }
   
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {
    .sidebar{
      width: auto;
    }
  }
   
  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .sidebar{
      width: auto;
    }
  }
   
  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .sidebar{
      width: auto;
    }
  }
   
  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .sidebar{
      width: auto;
    }
  }

  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")